*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(40, 40, 40);
}

h1,p {
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

input[type=text] {
    background-color: rgb(130, 130, 130);
    border-radius: 10px;
    border: none;
    width: fit-content;
    min-width: 50vw;
    padding: 10px;
    color: rgb(255, 255, 255);
}

.addbtn {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.head {
    margin-top: 30px;
}

#progressBarContainer {
    width: 100%;
    position: fixed;
    top: -2px;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    height: 20px;
    display: flex;
    background-color: #3d3d3d;
}

#progressBar {
    width: 0%;
    align-self: center;
    height: 10px;
    border-radius: 0 50px 50px 0 ;
    position: relative;
    background-color: #03cb42;
}

.addbtn button {
    background-color: rgb(45, 45, 253);
    margin-top: 3%;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.addbtn button:active {
    background-color: rgb(31, 31, 177);
    margin-top: 3%;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

input[type=text]::placeholder {
  
    color: rgb(255, 255, 255);
}

.playlist-item {
    display: flex;
    align-items: center;
    background-color: rgb(92, 91, 91);
    height: fit-content;
    margin: auto;
    cursor: pointer;
    color: white;
    margin-top: 3%;
    border-radius: 12px;
    width: 70vw;
}

.playlist-item img {
    margin: 10px;
    height:10vh;
    border-radius: 10px;
}

.video-item img {
height: 80px;
object-fit: cover;
border-radius: 15px;
padding: 10px;
}

.video-item {
    display: flex;
    margin-top: 3%;
    margin-left: 5vw;
    border-radius: 10px;
    align-items: center;
    margin-right: 5vw;
    background-color: #3a3a3a;
    justify-self: start;
}

.video-item button {
    width: fit-content;
    height: fit-content;
    color: white;
    font-size: small;
    padding: 10px;
    margin-left: auto;
    margin-right: 20px;
    align-self: center;
    border: none;
    border-radius: 10px;
    background-color: blue;
}

.video-item .title a{
    text-decoration: none;
font-weight: 500;
font-size: medium;
align-self: center;
}